

<!--
 * @Author: Recar
 * @Date: 2021-01-10 23:05:39
 * @LastEditors: recar
 * @LastEditTime: 2021-05-24 16:28:44
-->


<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cikonss.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <body>
        <p></p>
        <ul class="nav nav-tabs">
            <li ><a href="/" style="color:aliceblue">安全文章</a></li>
            <li><a href="/loophole" style="color:aliceblue">漏洞预警</a></li>
            <li><a href="/subdomain" style="color:aliceblue">子域名监控</a></li>
        </ul>
        <div class="list-group">
        {% for new in datas %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading" >
                    <a href="{{new.href}}" target="_blank" style="color:#337ab7;" >{{new.title}}</a>
                    <span class="label label-info">{{new.source}}</span>
                    {% if new.synopsis|length<8 %}
                    <span class="label label-default">{{new.synopsis}}</span>
                    {% else %}
                    <pre style="margin-top: 5px;">{{new.synopsis}}</pre>
                    {% endif %}
                    {% if (current_time-new.update_time).seconds<3600 %}
                    <span class="label label-default" >新</span>
                    {% endif %}
                    <p class="list-group-item-text">
                        {{new.update_time.strftime('%Y-%m-%d %H:%M:%S')}}
                    </p>
            </h4>
        </div>

        {% endfor %}
    </div>

    {%import '_macros.html' as pg_list%}
    {{pg_list.my_paginate(pagination,'index')}}
    </body>

<style>
    body {
        background:#2f373a;
        font-family:Arial,Helvetica,sans-serif;font-size:100%;
        line-height:1em;color:#4e4e4e;
        min-width:920px;
        border-top:10px solid #0c0e0e
        }
        a{
            text-decoration: none;
        }
        a:visited{text-decoration: none;}
        a:hover {text-decoration: none;}
        a:active{text-decoration:none;}
   
</style>
</html>