

<!--
 * @Author: Recar
 * @Date: 2021-01-10 23:05:39
 * @LastEditors: Recar
 * @LastEditTime: 2021-01-18 00:09:03
-->


<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cikonss.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <body>
        <p></p>
        <ul class="nav nav-tabs">
            <li ><a href="/" >安全文章</a></li>
            <li class="active"><a href="/loophole">漏洞预警</a></li>
            <li><a href="/subdomain">子域名监控</a></li>
        </ul>
        <div class="body-div">
        {% for new in datas %}
        <div class="warpper" data-v-15baa41c="">
            <div class="hollow-compose-three-circles" data-v-15baa41c="">
                <a href="{{new.href}}" target="_blank">
                <span class="new article-container-title" >{{new.title}}</span></a>
                <span class="new article-container article-container-synopsis" style="color: #3d3d3d;" >{{new.synopsis}}</span>
                <span class="new article-container serif" color:#FF0000><font style="
                    color: #999;">{{new.update_time.strftime('%Y-%m-%d %H:%M:%S')}}</font>&nbsp;&nbsp;
                    <a href="{{new.source_url}}" style="color: rgb(102, 102, 102);">[{{new.source}}]</a></span>
            </div>
        </div>
        {% endfor %}
    </div>

    {%import '_macros.html' as pg_loophole%}
    {{pg_loophole.my_paginate(pagination,'loophole')}}
    </body>
</html>